body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin: 10px;
  }
  
  #map {
    width: 90vw;
    height: 80vh;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  